<html>

<head>
    <title>cron-sms</title>
    <meta http-equiv="refresh" content="30" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .progress-bar {
            background-color: transparent;
            border-radius: 1.25em;
            width: 100%;
            height: 4px;
            display: inline-block;
        }
        .progress-value {
            background-color: lightgray;
            border-radius: 1.25em;
            height: 4px;
            display: inline-block;
            float:left;
        }
        {{#each this}}
        .progress-value.job{{@index}} {
            animation: progress-{{@index}} {{timeout}}s linear forwards;
            -webkit-animation: progress-{{@index}} {{timeout}}s linear forwards;
        }

        @keyframes progress-{{@index}} {
            from { width: {{timeoutPercent}}% }
            to { width: 0}
        }
        {{/each}}
    </style>
</head>

<body class="bg-dark">
    <div class="container">
        <div class="d-flex flex-column">
            {{#each this}}
            <div class="btn btn-primary m-1">
                <h2 class="d-flex mb-0">{{@key}}</h2>
                <div class="progress-bar">
                    <span class="progress-value job{{@index}}"></span>
                </div>
                <div class="d-flex flex-wrap justify-content-between">
                    {{#each meta}}
                    <p class="mx-3 mb-0">{{@key}}: {{this}}</p>
                    {{/each}}
                </div>
            </div>
            <br/>
            {{/each}}
        </div>
    </div>
</body>

</html>